body {
    text-align: center;
    background-color: dimgray;
    
}

h1 {
    color: red;
}

.gamegrid {
    background-color: yellow;
    display: inline-block;
}

.column {
    width: 70px;
    height: 70px;
    display: inline-block;
    background-color: dimgray;
    border-radius: 50%;
    margin: 5px;
}

.newgame {
    float: left;
    margin: 50px;
}

.restart {
    float: right;
    margin: 50px;
}

.scoreboard {
    margin-left: 65px;
    margin-right: 55px;
}

table, th, td {
    border: .5px solid black;
    padding: 5px;
}

table{
    display: flex;
    /* justify-content: center; */
    justify-content: space-between;
    border-spacing: 5px;
}

td {
    padding: 15px;
}

.red {
    background-color: red;
   }

.black {
    background-color: black;
   }

    